server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name {{ nginx_config_item_server }};
  
  {% if nginx_config_item_config.key is not none %}
  ssl_certificate {{ nginx_config_item_config.cert }};
  ssl_certificate_key {{ nginx_config_item_config.key }};
  {% endif %}

  {% for mapping in nginx_config_item_config.map %}
  location {{ mapping.path }} {
    proxy_pass {{ mapping.server }};
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
  }
  {% endfor %}

  gzip on;
  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_types text/plain text/css text/xml application/json application/javascript application/rss+xml application/atom+xml image/svg+xml;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ nginx_config_item_server }};
  return 301 https://{{ nginx_config_item_server }}$request_uri;
}
