[Unit]
Description=Firefly III
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
Restart=always
User=firefly
Group=docker
WorkingDirectory=/srv/firefly/docker
ExecStartPre=/usr/local/bin/docker-compose -f docker-compose.yml down
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml down
TimeoutStartSec=0
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
