ssl = true
ssl_ca_file = '/etc/postgresql/14/main/certs/ca.pem'
ssl_cert_file = '/etc/postgresql/14/main/certs/client.pem'
ssl_key_file = '/etc/postgresql/14/main/certs/client.key'

data_directory = '{{ postgres_server_data_directory }}'